<div class="col-md-4" style="margin-left: 20%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Login</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="login()">
      <div class="alert alert-error" role="alert" *ngIf="message">
              <strong>Email ou senha inválido</strong>
      </div>
      <div class="box-body">
        <div [ngClass]="getFromGroupClass(email.invalid,email.dirty)">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input 
                  type="email" 
                  [(ngModel)]="cred.email"
                  class="form-control" 
                  name="email"
                  id="inputEmail" 
                  #email="ngModel"
                  placeholder="Email"
                  email>
              <span class="help-block" *ngIf="email.invalid && email.dirty">Email inválido</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(senha.invalid,senha.dirty)">
            <label for="inputSenha" class="col-sm-2 control-label">Senha</label>
            <div class="col-sm-10">
              <input 
                    type="password" 
                    [(ngModel)]="cred.senha"
                    class="form-control" 
                    name="senha"
                    id="inputSenha" 
                    #senha="ngModel"
                    placeholder="senha"
                    required>
                    <span class="help-block" *ngIf="senha.invalid &&  senha.dirty">Senha obrigatória</span>
            </div>
          </div>
      </div>
      <div class="box-footer">
        <button type="submit" (click)="cancelLogin()" class="btn btn-default">Cancel</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Login</button>
      </div>
    </form>
</div>
